In [1]:
import os
import numpy as np

In [5]:
List = list(range(0,10))

In [6]:
List

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
rdd = spark.sparkContext.parallelize(List)

In [12]:
type2 = spark.sparkContext.textFile(os.path.join("data","ds_spark_ex.txt"))

In [13]:
type2.first()

'my name is google.'

In [14]:
type2.take(3)

['my name is google.',
 'please say ny name',
 'this is my first time using spark.']

In [15]:
type2.collect()

['my name is google.',
 'please say ny name',
 'this is my first time using spark.']

### csv 파일 처리

In [16]:
type3 = spark.sparkContext.textFile(os.path.join("data",'ds_spark_csv.csv'))

In [17]:
type3.take(5)

['73,80,75,152',
 '93,88,93,185',
 '89,91,90,180',
 '96,98,100,196',
 '73,66,70,142']

### to numpy

In [18]:
X_data = np.array(type3.collect())

In [21]:
type3.collect()

['73,80,75,152',
 '93,88,93,185',
 '89,91,90,180',
 '96,98,100,196',
 '73,66,70,142',
 '53,46,55,101',
 '69,74,77,149',
 '47,56,60,115',
 '87,79,90,175',
 '79,70,88,164',
 '69,70,73,141',
 '70,65,74,141',
 '93,95,91,184',
 '79,80,73,152',
 '70,73,78,148',
 '93,89,96,192',
 '78,75,68,147',
 '81,90,93,183',
 '88,92,86,177',
 '78,83,77,159',
 '82,86,90,177',
 '86,82,89,175',
 '78,83,85,175',
 '76,83,71,149',
 '96,93,95,192']

### map lambda
### delete for statement by using lambda function

In [22]:
celcius = [39.2,36.5,37.3,37.8]

def c2f(a):
    f=[]
    for i in a:
        temp = float((9/5)*i)+32
        f.append(temp)
        
    return f

In [23]:
temp = c2f(celcius)

In [24]:
temp

[102.56, 97.7, 99.14, 100.03999999999999]

In [32]:
def c2f(a):
    return (float((9/5)*a)+32)

f = map(c2f,celcius)

In [33]:
mylist = list(f)

In [34]:
mylist

[102.56, 97.7, 99.14, 100.03999999999999]

In [35]:
a= [1,2,3,4,5]

In [36]:
nRdd = spark.sparkContext.parallelize(a)

In [37]:
nRdd.collect()

[1, 2, 3, 4, 5]

In [38]:
sp = nRdd.map(lambda x:x*x)

In [40]:
sp.collect()

[1, 4, 9, 16, 25]

In [41]:
tRdd = spark.sparkContext.textFile(os.path.join("data","ds_spark_wiki.txt"))

In [42]:
tRdd.collect()

['Apache Spark is an open source cluster computing framework.',
 '아파치 스파크는 오픈 소스 클러스터 컴퓨팅 프레임워크이다.',
 'Apache Spark Apache Spark Apache Spark Apache Spark',
 '아파치 스파크 아파치 스파크 아파치 스파크 아파치 스파크',
 "Originally developed at the University of California, Berkeley's AMPLab,",
 'the Spark codebase was later donated to the Apache Software Foundation,',
 'which has maintained it since.',
 'Spark provides an interface for programming entire clusters with',
 'implicit data parallelism and fault-tolerance.']